<h1>Dashboard</h1>
<hr />

<div class="row">
  <div class="small-12 columns">
    <h2 class="color-screen"><i class="fa fa-desktop" aria-hidden="true"></i> Screens</h2>

    <div class="row">
      <% for(var i=0; i<screens.length; i++){ %>
      <div class="large-4 medium-6 small-12 columns">
        <div class="screenitem">
          <div class="row expanded align-bottom" style="height:100%;">
            <div class="small-12 columns text-right">
              <a href="#" class="trash"><i class='fa fa-trash'></i></a>
            </div>
            <div class="small-12 columns">
              <p><strong><%= screens[i].name %></strong><% if(screens[i].list){ %><br />Playlist: <%= screens[i].list.name %><% } %></p>
            </div>
            <div class="small-12 columns">
              <div class="row nested collapse">
                <% if(screens[i].list){ %>
                <div class="columns">
                  <a class="expanded button first secondary" href='screen/play/<%= screens[i].id %>'><i class='fa fa-eye'></i> Preview</a>
                </div>
                <% } %>
                <div class="columns">
                  <a class="expanded button secondary" href='screen/<%= screens[i].id %>'><i class='fa fa-pencil'></i> Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="large-4 medium-6 small-12 columns">
        <a href="#" class="screenitem screenitem--new">
          <div class="row align-middle" style="height: 100%;">
            <div class="columns">
              <i class="fa fa-plus"></i>
              <p>Add screen</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="spacer"></div>
  </div>

  <div class="small-12 columns">
    <h2 class="color-list"><i class="fa fa-list" aria-hidden="true"></i> Playlists</h2>

    <div class="row">
      <% for(var i=0; i<lists.length; i++){ %>
      <div class="small-12 columns">
        <div class="playlistentry">
          <div class="row collapse nested">
            <div class="columns small-12 medium-expand">
              <p class="name">
                <%= lists[i].name %>
              </p>
            </div>
            <div class="columns shrink">
              <p class="detail time">
                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Duration of this playlist until repeat"><i class="fa fa-hourglass-start" aria-hidden="true"></i> <%= lists[i].getDuration() %>min</span>
              </p>
            </div>
            <div class="columns shrink">
              <p class="detail screen bg-screen">
                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="2 Screens display this playlist"><i class="fa fa-desktop" aria-hidden="true"></i> <%= lists[i].screens.length %></span>
              </p>
            </div>
            <div class="columns shrink">
              <p class="detail item bg-item">
                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="3" title="<%= lists[i].items.length %> Apps on this playlist"><i class="fa fa-play-circle" aria-hidden="true"></i> <%= lists[i].items.length %></span>
              </p>
            </div>
            <div class="columns shrink">
              <a class="expanded button secondary" href='admin/playlist/<%= lists[i].id %>'><i class='fa fa-pencil'></i> Edit</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="small-12 columns">
        <a href="/admin/playlist" class="playlistentry playlistentry--new">
          <div class="row align-middle" style="height: 100%;">
            <div class="columns">
              <i class="fa fa-plus"></i>
              <p>Add playlist</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="spacer"></div>

  </div>



  <div class="small-12 columns">
    <h2 class="color-item"><i class="fa fa-play-circle" aria-hidden="true"></i> Items</h2>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<items.length; i++){ %>
            <tr>
              <td><%= items[i].id %></td>
              <td>
                <a href='playlistitem/<%= items[i].id %>' data-modal>
                  <%- items[i].getIcon() %>&nbsp; <%= items[i].name %>
                </a>
              </td>
              <td>
                <a href='admin/playlistitem/<%= items[i].id %>'>
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
            </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/admin/playlistitem" class="button expanded"><i class="fa fa-plus"></i> Add new</a>
  </div>

</div>

<div class="reveal" id="modal" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>

$.adminIndex = function() {

  $modal = $('#modal');

  $('a[data-modal').on('click', function(e){
    e.preventDefault();
    $.ajax('/'+$(this).attr('href'))
      .done(function(resp){
        $modal.html(JSON.stringify(resp)).foundation('open');
    });
  });

};
</script>
