<h1>AdminController.index</h1>

<hr />

<div class="row">
  <div class="medium-4 columns">
    <h2><i class="fa fa-desktop" aria-hidden="true"></i> Screens</h2>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Play</td>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<screens.length; i++){ %>
            <tr>
              <td><%= screens[i].id %></td>
              <td>
                <a href='screen/<%= screens[i].id %>' data-modal>
                  <%= screens[i].name %>
                </a>
              </td>
              <td>
                <% if(screens[i].list){ %>
                  <%  if(screens[i].list.live){ %>
                    <a class="danger" href='screen/stop/<%= screens[i].id %>'>
                      <i class='fa fa-stop-circle'></i>
                    </a>
                  <% } %>
                  <a class="success" href='screen/play/<%= screens[i].id %>'>
                    <i class='fa fa-play-circle'></i>
                  </a>
                <% } %>
              </td>
            </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/admin/screen" class="button expanded"><i class="fa fa-plus"></i> Add new</a>
  </div>

  <div class="medium-4 columns">
    <h2><i class="fa fa-list" aria-hidden="true"></i> Playlists</h2>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<lists.length; i++){ %>
            <tr>
              <td><%= lists[i].id %></td>
              <td>
                <a href='playlist/<%= lists[i].id %>' data-modal>
                  <%= lists[i].name %>
                </a>
              </td>
              <td>
                <a href='admin/playlist/<%= lists[i].id %>'>
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
            </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/admin/playlist" class="button expanded"><i class="fa fa-plus"></i> Add new</a>
  </div>

  <div class="medium-4 columns">
    <h2><i class="fa fa-play-circle" aria-hidden="true"></i> Items</h2>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<items.length; i++){ %>
            <tr>
              <td><%= items[i].id %></td>
              <td>
                <a href='playlistitem/<%= items[i].id %>' data-modal>
                  <%- items[i].getIcon() %>&nbsp; <%= items[i].name %>
                </a>
              </td>
              <td>
                <a href='admin/playlistitem/<%= items[i].id %>'>
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
            </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/admin/playlistitem" class="button expanded"><i class="fa fa-plus"></i> Add new</a>
  </div>

</div>

<div class="reveal" id="modal" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>

$.adminIndex = function() {

  $modal = $('#modal');

  $('a[data-modal').on('click', function(e){
    e.preventDefault();
    $.ajax('/'+$(this).attr('href'))
      .done(function(resp){
        $modal.html(JSON.stringify(resp)).foundation('open');
    });
  });

};
</script>
