<h1>Dashboard</h1>
<hr />

<div class="row">
  <div class="small-12 columns">
    <h2 class="color-screen"><i class="fa fa-desktop" aria-hidden="true"></i> Screens</h2>

    <div class="row">
      <% for(var i=0; i<screens.length; i++){ %>
      <div class="large-4 medium-6 small-12 columns">
        <div class="screenitem">
          <div class="row expanded" style="height:100%;">
            <div class="small-12 columns text-right">
              <a href="#" class="trash"><i class='fa fa-trash'></i></a>
            </div>
            <div class="small-12 columns align-self-bottom">
              <p><strong><%= screens[i].name %></strong><% if(screens[i].list){ %><br />Playlist: <%= screens[i].list.name %><% } %></p>
            </div>
            <div class="small-12 columns align-self-bottom">
              <div class="row nested collapse">
                <% if(screens[i].list){ %>
                <div class="columns">
                  <a class="expanded button first secondary" href='screen/play/<%= screens[i].id %>'><i class='fa fa-eye'></i> Preview</a>
                </div>
                <% } %>
                <div class="columns">
                  <a class="expanded button secondary" href='admin/screen/<%= screens[i].id %>'><i class='fa fa-pencil'></i> Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="large-4 medium-6 small-12 columns">
        <a href="/admin/screen" class="screenitem screenitem--new">
          <div class="row align-middle" style="height: 100%;">
            <div class="columns">
              <i class="fa fa-plus"></i>
              <p>Add screen</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="spacer"></div>
  </div>

  <div class="small-12 columns">
    <h2 class="color-list"><i class="fa fa-list" aria-hidden="true"></i> Playlists</h2>

    <div class="row">
      <% for(var i=0; i<lists.length; i++){ %>
      <div class="small-12 columns">
        <div class="playlistentry">
          <div class="row collapse nested">
            <div class="columns small-12 medium-expand">
              <p class="name">
                <%= lists[i].name %>
              </p>
            </div>
            <div class="columns shrink">
              <p class="detail time">
                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="1" title="Duration of this playlist until repeat"><i class="fa fa-hourglass-start" aria-hidden="true"></i> <%= lists[i].getDuration() %>min</span>
              </p>
            </div>
            <div class="columns shrink">
              <p class="detail screen">
                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="2 Screens display this playlist"><i class="fa fa-desktop" aria-hidden="true"></i> <%= lists[i].screens.length %></span>
              </p>
            </div>
            <div class="columns shrink">
              <p class="detail item ">
                <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="3" title="<%= lists[i].items.length %> Apps on this playlist"><i class="fa fa-play-circle" aria-hidden="true"></i> <%= lists[i].items.length %></span>
              </p>
            </div>
            <div class="columns shrink">
              <a class="expanded button secondary" href='admin/playlist/<%= lists[i].id %>'><i class='fa fa-pencil'></i> Edit</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="small-12 columns">
        <a href="/admin/playlist" class="playlistentry playlistentry--new">
          <div class="row align-middle" style="height: 100%;">
            <div class="columns">
              <i class="fa fa-plus"></i>
              <p>Add playlist</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="spacer"></div>

  </div>



  <div class="small-12 columns">
    <h2 class="color-item"><i class="fa fa-play-circle" aria-hidden="true"></i> Apps</h2>

    <div class="row">
      <% for(var i=0; i<items.length; i++){ %>
      <div class="small-6 medium-4 large-2 columns">
        <div class="playlistitementry">
          <div class="row collapse nested" style="height:100%;">
            <div class="small-12 columns align-self-bottom text-center">
              <p class="name">
              <%- items[i].getIcon() %>
              &nbsp; <%= items[i].name %></p>
            </div>
            <div class="small-12 align-self-bottom columns">
              <a class="expanded button secondary" href='admin/playlistitem/<%= items[i].id %>'><i class='fa fa-pencil'></i> Edit</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="small-6 medium-4 large-2 columns">
        <a href="/admin/playlistitem" class="playlistitementry playlistitementry--new">
          <div class="row collapse nested" style="height:100%;">
            <div class="small-12 columns align-self-middle text-center">
              <p class="name">
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add app</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="spacer"></div>

  </div>
</div>
