<h1>Screens</h1>
<hr />

<div class="row">
  <div class="small-12 columns">

    <div class="row">
      <% for(var i=0; i<screens.length; i++){ %>
      <div class="large-4 medium-6 small-12 columns">
        <div class="screenitem">
          <div class="row expanded" style="height:100%;">
            <div class="small-12 columns text-right">
              <% if(screens[i].list) { %>
              <div class="switch small">
                <input class="switch-input" id="screenswitch<%= screens[i].id %>" type="checkbox" name="live" <% if(screens[i].list.live){ %>checked="checked"<% } %> />
                <label class="switch-paddle" for="screenswitch<%= screens[i].id %>" data-toggle-play="<%= screens[i].id %>">
                  <span class="show-for-sr">Do you like me?</span>
                  <span class="switch-inactive" aria-hidden="true">Off</span>
                  <span class="switch-active" aria-hidden="true">On</span>
                </label>
              </div>
              <% } %>
            </div>
            <div class="small-12 columns align-self-bottom">
              <p><strong><%= screens[i].name %></strong><% if(screens[i].list){ %><br />Playlist: <%= screens[i].list.name %><% } %></p>
            </div>
            <div class="small-12 columns align-self-bottom">
              <div class="row nested collapse">
                <% if(screens[i].list){ %>
                <div class="columns">
                  <a class="expanded button first secondary" href='screen/play/<%= screens[i].id %>'><i class='fa fa-eye'></i> Preview</a>
                </div>
                <% } %>
                <div class="columns">
                  <a class="expanded button secondary" href='admin/screen/<%= screens[i].id %>'><i class='fa fa-pencil'></i> Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="large-4 medium-6 small-12 columns">
        <a href="/admin/screen" class="screenitem screenitem--new">
          <div class="row align-middle" style="height: 100%;">
            <div class="columns">
              <i class="fa fa-plus"></i>
              <p>Add screen</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="spacer"></div>

  </div>
</div>

<script type="text/javascript">
  $('label[data-toggle-play]').on('click', function(e){

    var input = $('input#screenswitch'+$(this).attr('data-toggle-play'));
    var route = $(input).is(':checked') ? 'stop' : 'play';

    io.socket.post('/screen/'+route+'/'+$(this).attr('data-toggle-play'), function(data, rawdata){
    });
  });
</script>
