<!DOCTYPE html>
<html>
  <head>
    <title><%= screen.name %> &#9658; Playlist<%= screen.list %> </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/screen.css">
  </head>
<body>

<% var activeItemOffset = -100 * activeItem; %>

  <main style="width:<%= playlist.items.length %>00vw; margin-left:<%= activeItemOffset %>vw">
    <div class="row expanded collapse">
      <% for(var i=0; i<playlist.items.length; i++){

          var item = playlist.items[i];
          var template = item.appType;
        %>

        <%- partial(template, {item: item, activeTweet: activeTweet}) %>

      <% } %>
    </div>
  </main>

  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/foundation-sites/dist/foundation.min.js"></script>
  <script type="text/javascript">

  io.socket.get('/screen/live/<%= screen.id %>', function(body, response){
    console.log('Started BroadcastService for the following Playlist: ', body);
  });

  // io.socket.on('playlist', function (event) {
  //   console.log('Playlist changed: ', event);
  // });

  // // Subscribe to changes on the current playlist
  // io.socket.get('/playlist/<%= screen.list %>', function(resData, jwres) {
  //   console.log('The Playlist: ', resData);
  // });

  // io.socket.on('playlistitem', function(data){
  //   console.log('PlaylistItem changed:', data);
  // });

  // // Subscribe to all PlaylistItems on this playlist
  // io.socket.get('/playlist/<%= screen.list %>/items', function(resData, jwres) {
  //   console.log('The PlaylistItems: ', resData);
  // });

  // io.socket.on('playlistsocket<%= screen.list %>', function(data){
  //   console.log('slideChange: ', data);
  // });

  io.socket.on('itemUpdate', function (data){
    console.log('itemUpdate', data);
  });

  io.socket.on('slideChange', function (data){
    console.log('slideChange', data);
    $.Slider.slideChange(data.item);
  });

  io.socket.on('tweetChange', function (data){
    console.log('tweetChange', data);
    $.Slider.tweetChange(data.tweet);
  });

  $.Slider = {
    activeSlide: 0,
    slideChange: function(index) {
      this.activeSlide = index;
      var marginLeft = -100 * index;
      $('main').css('marginLeft', marginLeft+'vw');
      // reset vertical scroll
      setTimeout(function(){
        $('section:not(:nth-child('+ ($.Slider.activeSlide + 1) +'))').css('marginTop', '0vh');
      }, 1000);
    },
    tweetChange: function(index) {
      var marginTop = -100 * index;
      $('section:nth-child('+ (this.activeSlide + 1) +')').css('marginTop', marginTop+'vh');
    }
  }


  </script>
</body>
</html>
